html, body
{
	min-height: 200%;
}

.test-element
{
	display: block;
	width: 200px;
	height: 200px;
	margin: 40px auto 0 auto;
	background-color: #000;
	border: 0;
	border-radius: 8px;
	color: white;
	font-size: 24px;
	text-align: center;
	line-height: 200px;
	font-family: Helvetica, Arial, sans-serif;
	cursor: pointer;

	-moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.test-element.bg-colour-change
{
	background-color: #ccc;
	color: #000;
}

.additional-info
{
	max-width: 500px;
	font-size: 20px;
	margin: 40px auto 0 auto;
}